*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 145px;

    background: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;
}


.logo{
    width: 200px;
}


nav{
    background: #dfeceb;

    padding: 28px 45px;

    border-radius: 30px;

    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: black;

    font-size: 16px;
    font-weight: 400;
}


.hero{
    width: 100%;
    height: calc(100vh - 145px);

    background: linear-gradient(90deg, #71e0dd, #e2e3e3);

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;

    overflow: hidden;
}

.contenedor-texto{
    position: relative;

    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(70px);
}


.decoracion{
    position: absolute;

    width: 1000px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    z-index: 1;

}


.texto{
    position: relative;
    z-index: 2;

    text-align: center;
    top: -40px;
}


.texto h1{
    font-family: 'Playfair Display', serif;

    font-size: 85px;
    color: white;

    letter-spacing: 2px;

    text-shadow:
        4px 4px 0 rgba(0,0,0,0.18);

    margin-bottom: -10px;
}

/* lo que */

.subtitulo{
    font-size: 42px;
    font-weight: 300;

    color: white;

    text-shadow:
        3px 3px 0 rgba(0,0,0,0.15);

    margin-bottom: -5px;
}

/* SAN JOSÉ */

.texto h2{
    font-size: 75px;
    font-weight: 700;

    color: #0057d8;

    text-shadow:
        5px 5px 0 rgba(0,0,0,0.18);

    margin-bottom: -5px;
}

/* tiene para vos */

.subtitulo2{
    font-size: 52px;
    font-weight: 300;

    color: white;

    text-shadow:
        3px 3px 0 rgba(0,0,0,0.15);
}

/* IMAGEN */

.imagen{
    width: 470px;
    height: 540px;

    object-fit: cover;

    border-radius: 60px;

    position: relative;
    z-index: 2;
}

/* DIAPOSITIVA 2 AYUDA */

.ayuda{
    width: 100%;
    min-height: 100vh;

    background: #f8f8f8;

    padding: 50px;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0;

    width: 100%;
}



.texto-ayuda{
    width: 520px;

    z-index: 2;
}

.texto-ayuda h1{
    font-size: 85px;

    font-weight: 700;

    transform: translateX(-30px);

    color: #444;

    line-height: 1;

    white-space: nowrap;

    margin-bottom: 20px;
}

.texto-ayuda h1 span{
    color: #9BCB97;
}

.corazon{
    width: 250px;

    margin-left: -70px;

    vertical-align: middle;

    position: relative;
    
    top: -8px;
}

.texto-ayuda p{
    font-size: 23px;

    line-height: 1.5;

    color: #222;

    margin-bottom: 30px;

    margin-left: -25px;


}

.verde{
    color: #9BCB97;
    font-weight: bold;
}

.btn-ayuda{
    background: #ff5757;

    border: none;

    border-radius: 60px;

    padding: 16px 30px;

    display: flex;
    align-items: center;
    gap: 14px;

    cursor: pointer;

    width: fit-content;
}

button:hover{
    transform: scale(1.05);
}

.icono-ayuda img{
    width: 60px;
    height: auto;
    display: block;
}

.texto-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-btn{
    font-family: 'Montserrat', sans-serif;

    font-size: 30px;
    font-weight: 700;

    color: white;

    line-height: 1;

    text-shadow:
        2px 2px 4px rgba(0,0,0,0.15);
}

.sub-btn{
    font-family: 'Montserrat', sans-serif;

    font-size: 14px;
    font-weight: 400;

    color: white;

    opacity: 0.95;

    margin-top: 4px;
}

.imagen-ayuda img{
    width: 620px;
    height: 430px;

    object-fit: cover;

    border-radius: 0;

    display: block;
}

.cards{
    margin-top: 50px;

    background: white;

    border-radius: 40px;

    padding: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.card-ayuda{
    width: 350px;

    display: flex;

    align-items: center;

    gap: 5px;
}

.card-ayuda h3{
    font-size: 23px;
    color: #25354A;

    margin-bottom: 10px;
}

.card-ayuda p{
    font-size: 19px;
    color: #444;

    line-height: 1.4;
}

.texto-card{
    display: flex;

    flex-direction: column;
    margin-left: -40px;
}

.texto-card h3{
    margin: 0;
}

.texto-card p{
    margin-top: 3px;
    margin-bottom: 0;
}

.card-ayuda img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    flex-shrink: 0;
}



html{
    scroll-behavior: smooth;
}
/* diapositiva 3 (categorias) */

.categorias{
    min-height: 100vh;

    padding: 60px;

    background:
    linear-gradient(
        135deg,
        #6ee7df,
        #b9d7ff,
        #ffe5db
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-categorias{
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 80px;
}

.card{
    width: 200px;
    height: 190px;

    border-radius: 70px;

    border: 5px solid white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    box-shadow:
    0 10px 20px rgba(0,0,0,0.10);

    transition: 0.3s;

    overflow: hidden;

    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

.card h4{
    font-size: 10px;

    font-weight: 700;

    color: #222;

    text-shadow:
    0px 2px 4px rgba(255,255,255,0.9);
}

.card:hover{
    transform: translateY(-10px) scale(1.05);
}

.celeste{
    background: #aee8e6;
}

.amarillo{
    background: #f6db58;
}

.gris{
    background: #e5e5e5;
}

.card img{
    width: 90px;

    margin-bottom: 15px;
}

.card h4{
   font-size: 20px;

    font-weight: 700;

    color: #222;

    text-shadow:
    -2px -2px 0 white,
     2px -2px 0 white,
    -2px  2px 0 white,
     2px  2px 0 white;
}

/*pantallas categorias*/

.seccion-mujeres{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-mujeres h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-mujeres span{
    color: #9acb92;
}

.intro-mujeres{
    color: #737373;
    font-size: 22px;
    margin-top: 20px;
}

.cards-mujeres{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.card-info{
    background: white;
    border-radius: 28px;
    padding: 28px;
    box-shadow: 0 10px 20px rgba(0,0,0,.06);
}

.card-info h3{
    color: #9acb92;
    font-size: 26px;
    margin-bottom: 15px;
}

.card-info p{
    color: #737373;
    font-size: 17px;
    line-height: 1.5;
}

.btn-volver{
    background: #9acb92;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 30px;
}

.btn-volver:hover{
    background: #84b87d;
}

.seccion-ninez{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-ninez h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-ninez span{
    color: #d6c75d;
}

.seccion-mayores{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-mayores h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-mayores span{
    color: #9acb92;
}

.seccion-comunidad{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-comunidad h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-comunidad span{
    color: #8fc6d9;
}

.seccion-discapacidad{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-discapacidad h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-discapacidad span{
    color: #d6c75d;
}

.seccion-salud{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-salud h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-salud span{
    color: #9acb92;
}

.seccion-trabajo{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-trabajo h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-trabajo span{
    color: #8fc6d9;
}

.seccion-deportes{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-deportes h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-deportes span{
    color: #d6c75d;
}

.seccion-cultura{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-cultura h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-cultura span{
    color: #8fc6d9;
}

.seccion-educacion{
    display: none;
    min-height: 100vh;
    background: #f8f8f8;
    padding: 60px;
}

.seccion-educacion h1{
    font-size: 65px;
    color: #444;
    line-height: .9;
}

.seccion-educacion span{
    color: #d6c75d;
}

/* diapositiva 4 (turismo) */

.turismo{
    min-height: 100vh;

    padding: 50px;

    background: #f8f8f8;
}

.contenido-turismo{
    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 50px;
}

.texto-turismo{
    width: 35%;
    margin-top: 80px;
}

.texto-turismo h1{
    font-size: 90px;

    line-height: 0.9;

    gap: 50px;

    color: #444;

    font-weight: 800;
}

.texto-turismo span{
    color: #9acb92;
}

.decoracion-turismo img{
    width: 200px;

    margin-left: 400px;

    vertical-align: upstairs;

    position: relative;
    
    top: -150px;
}

.texto-turismo p{
    font-size: 30px;

    line-height: 1.5;

    margin-top: -50px;

    color: #737373;
}

.iconos-turismo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    width: 360px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item img {
   width: 130px;
    height: 70px;
    object-fit: contain;
    display: block;
}
.item p{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #38566b;
}

.cards-turismo{
    display: grid;

    grid-template-columns: repeat(3, 260px);

    gap: 25px;

}

.card-turismo:first-child h3{
    font-size: 16px;
}

.card-turismo{
     width: 260px;
    height: 310px;

    background: white;
    border: 2px solid #eee3d7;

    overflow: hidden;
}

.card-turismo img{
    width: 100%;

    height: 170px;

    object-fit: cover;
}

.card-turismo .texto{
    padding: 12px;
}

.info{
    padding: 15px;
}

.info h3{
     font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;

    margin-bottom: 5px;
}

.info p{
    margin-top: 10px;

    color: #666;

    line-height: 1.5;
}

.frase-final{
    background: #eef0e7;

    border-radius: 50px;

    padding: 15px 25px;

    width: fit-content;

    display: flex;
    align-items: center;
    gap: 15px;

    margin: 40px auto 0;
}

.decoracion-frase img{
    width: 75px;

    height: 50px;

    display: block;
}

.frase-final p{
    margin: 0;

    color: #4f5a68;

    font-size: 18px;
}

.frase-final span{
    color: #7da78c;

    font-weight: 700;
}

.card-turismo:hover{
    transform: translateY(-10px);

    transition: 0.3s;
}

/*DIAPOSITIVA 5 (contacto) */

.contacto{
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #b8efe7 0%,
        #dce8f6 100%
    );

    padding: 80px 50px;
}

.contenido-contacto{
    display: flex;

    justify-content: space-between;

    align-items: flex-start;
}

.titulo-contacto{
    width: 45%;
}

.titulo-contacto h1{
    font-size: 55px;

    font-weight: 300;

    color: #222;
}

.info-contacto{
    width: 45%;

    display: flex;

    flex-wrap: wrap;

    gap: 60px;
}

.columna h3{
    font-size: 18px;

    font-weight: 700;

    margin-bottom: 20px;

    color: #222;
}

.columna p{
    font-size: 18px;

    line-height: 1.8;

    color: #333;
}

.email{
    width: 100%;

    margin-top: 80px;
}

.email p{
    font-size: 20px;

    font-weight: 700;

    color: #222;
}


.overlay-ayuda{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.35);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    z-index: 9999;
}

.overlay-ayuda.activo{
    opacity: 1;
    pointer-events: auto;
}

.bottom-sheet{
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;

    background: white;
    border-radius: 35px 35px 0 0;
    padding: 30px;

    transform: translateY(100%);
    transition: .3s;
}

.overlay-ayuda.activo .bottom-sheet{
    transform: translateY(0);
}

.barra{
    width: 70px;
    height: 6px;
    background: #d1d5db;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.emergencia{
    display: flex;
    align-items: center;
    gap: 20px;

    color: white;
    border-radius: 25px;
    padding: 20px;

    margin-top: 15px;
}

.azul{
    background: #2563eb;
}

.rojo{
    background: #ff0033;
}

.violeta{
    background: #a020f0;
}

.icono{
    width: 65px;
    height: 65px;

    background: rgba(255,255,255,.2);

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
}

.cerrar-modal{
    width: 100%;

    border: none;

    background: #e5e7eb;

    padding: 18px;

    border-radius: 25px;

    margin-top: 20px;

    font-weight: bold;

    cursor: pointer;
}

/* TABLETS */

@media (max-width: 1024px){

    .cards-mujeres{
        grid-template-columns: 1fr;
    }

    .contenido-turismo,
    .contenido{
        flex-direction: column;
    }

}

/* CELULARES */

@media (max-width: 768px){

    header{
        flex-direction: column;
        gap: 20px;
    }

    nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .hero .imagen{
        width: 100%;
        max-width: 350px;
        margin-top: 20px;
    }

    .texto h1,
    .texto h2{
        font-size: 50px;
    }

    .subtitulo,
    .subtitulo2{
        font-size: 22px;
    }

    .grid-categorias{
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card{
        padding: 15px;
    }

    .card img{
        width: 60px;
    }

    .card h4{
        font-size: 16px;
    }

    .seccion-mujeres,
    .seccion-ninez,
    .seccion-mayores,
    .seccion-comunidad,
    .seccion-discapacidad,
    .seccion-salud,
    .seccion-trabajo,
    .seccion-deportes,
    .seccion-cultura,
    .seccion-educacion{
        padding: 25px;
    }

    .seccion-mujeres h1,
    .seccion-ninez h1,
    .seccion-mayores h1,
    .seccion-comunidad h1,
    .seccion-discapacidad h1,
    .seccion-salud h1,
    .seccion-trabajo h1,
    .seccion-deportes h1,
    .seccion-cultura h1,
    .seccion-educacion h1{
        font-size: 42px;
    }

    .cards-mujeres{
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card-info{
        padding: 20px;
    }

    .card-info h3{
        font-size: 22px;
    }

    .card-info p{
        font-size: 15px;
    }

    .btn-volver{
        width: 100%;
    }

}

/* CELULARES PEQUEÑOS */

@media (max-width: 480px){

    .grid-categorias{
        grid-template-columns: 1fr;
    }

    .texto h1,
    .texto h2{
        font-size: 40px;
    }

    .logo{
        width: 180px;
    }

}