<nav class="navbar">
  <div class="nav-logo">
    <img src="logo.png" class="logo-img-nav" alt="Conectar San José">
  </div>

  <div class="nav-links">
    <a href="#inicio">INICIO</a>
    <a href="#areas-principales">ÁREAS</a>
    <a href="#agenda-principal">AGENDA</a>
  </div>
</nav>

<div id="inicio" class="content-wrapper">

  <section class="hero">
    <div class="contenedor-texto">
      <img src="gotas.png" class="decoracion-gotas" alt="">

      <h1 class="hero-titulo">
        DESCUBRÍ <br>
        <small class="subtitulo">lo que</small> <br>
        <span class="resaltado">SAN JOSÉ</span> <br>
        <small class="subtitulo2">tiene para vos</small>
      </h1>
    </div>

    <div class="hero-image-container">
      <img src="monumento.jpg" alt="San José Monumento" class="hero-img">
    </div>
  </section>

  <section class="ayuda">
    <div class="contenido-ayuda">
      <div class="texto-ayuda">
        <h1>No estás <span>solo</span> <img src="corazon.png" class="corazon-icono" alt=""></h1>
        <p>A veces hablar con alguien es el primer paso. En Conectar San José queremos <span class="verde-text">acompañarte.</span></p>
        
        <button class="btn-ayuda" (click)="abrirAyuda()">
          <div class="icono-ayuda-wrapper">
            <img src="icono-ayuda.png" alt="Ayuda">
          </div>
          <div class="texto-btn">
            <span class="titulo-btn">Necesito ayuda</span>
            <span class="sub-btn">Hablar con alguien</span>
          </div>
        </button>
      </div>
      
      <div class="imagen-ayuda">
        <img src="abrazo.jpg" alt="Abrazo">
      </div>
    </div>

    <div class="cards-ayuda-grid">
      <div class="card-ayuda">
        <img src="bienestar.png" alt="Bienestar">
        <div class="texto-card-ayuda"><h3>Bienestar emocional</h3><p>Recursos para cuidarte</p></div>
      </div>
      <div class="card-ayuda">
        <img src="apoyo.png" alt="Apoyo">
        <div class="texto-card-ayuda"><h3>Espacios de apoyo</h3><p>Grupos y lugares para acompañarte</p></div>
      </div>
      <div class="card-ayuda">
        <img src="talleres.png" alt="Talleres">
        <div class="texto-card-ayuda"><h3>Talleres para conectar</h3><p>Actividades para expresarte y crecer</p></div>
      </div>
      <div class="card-ayuda">
        <img src="hablar.png" alt="Hablar">
        <div class="texto-card-ayuda"><h3>Hablar con alguien</h3><p>Estamos para escucharte</p></div>
      </div>
    </div>
  </section>

  <section id="areas-principales" class="seccion-bloque">
    <div class="seccion-titulo-centro">
      <h2>Nuestras Áreas de Coordinación</h2>
      <p>Hacé clic en cualquiera de ellas para conocer más detalles</p>
    </div>
    <app-area></app-area>
  </section>

  <section id="agenda-principal" class="seccion-bloque-agenda">
    <app-agenda></app-agenda>
  </section>

  <section class="banner-emergencia">
    <div class="emergencia-container">
      <div class="emergencia-texto">
        <h1>
          No estás <span>solo</span>
          <img src="corazon.png" class="corazon-icono" alt="">
        </h1>

        <p>
          A veces hablar con alguien es el primer paso.
          En Conectar San José queremos
          <span class="verde-text">acompañarte.</span>
        </p>

        <button class="btn-ayuda" (click)="abrirAyuda()">
          <div class="icono-ayuda-wrapper">
            <img src="icono-ayuda.png" alt="Ayuda">
          </div>

          <div class="texto-btn">
            <span class="titulo-btn">Necesito ayuda</span>
            <span class="sub-btn">Hablar con alguien</span>
          </div>
        </button>
      </div>

      <div class="emergencia-image-box">
        <img src="abrazo.jpg" class="img-abrazo" alt="Abrazo">
      </div>
    </div>

    <div class="emergencia-cards-grid">
      <div class="mini-card">
        <img src="bienestar.png" alt="Bienestar">
        <div class="texto-card">
          <h3>Bienestar emocional</h3>
          <p>Recursos para cuidarte</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="apoyo.png" alt="Apoyo">
        <div class="texto-card">
          <h3>Espacios de apoyo</h3>
          <p>Grupos y lugares para acompañarte</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="talleres.png" alt="Talleres">
        <div class="texto-card">
          <h3>Talleres para conectar</h3>
          <p>Actividades para expresarte y crecer</p>
        </div>
      </div>

      <div class="mini-card">
        <img src="hablar.png" alt="Hablar">
        <div class="texto-card">
          <h3>Hablar con alguien</h3>
          <p>Estamos para escucharte</p>
        </div>
      </div>
    </div>
  </section>


  <section id="areas" class="categorias">

    <div class="bloque-categorias">
      <div class="seccion-titulo-centro">
        <h2>Nuestras Áreas de Coordinación</h2>
        <p>Hacé clic en cualquiera de ellas para conocer más detalles</p>
      </div>

      <div class="grid-categorias">

        <div class="card mujer" (click)="mostrarMujeres()">
            <img src="mujer.png">
            <h4>Mujer</h4>
        </div>

        <div class="card amarillo" (click)="mostrarNinez()">
            <img src="ninez.png">
            <h4>Niñez</h4>
        </div>

        <div class="card gris" (click)="mostrarMayores()">
            <img src="mayores.png">
            <h4>Personas <br> Mayores</h4>
        </div>

        <div class="card celeste" (click)="mostrarComunidad()">
            <img src="comunidad.png">
            <h4>Desarrollo <br> Comunitario</h4>
        </div>

        <div class="card amarillo" (click)="mostrarDiscapacidad()">
            <img src="discapacidad.png">
            <h4>Discapacidad</h4>
        </div>

        <div class="card gris" (click)="mostrarSalud()">
            <img src="salud.png">
            <h4>Salud</h4>
        </div>

        <div class="card celeste" (click)="mostrarTrabajo()">
            <img src="trabajo.png">
            <h4>Trabajo</h4>
        </div>

        <div class="card amarillo" (click)="mostrarDeportes()">
            <img src="deportes.png">
            <h4>Deportes</h4>
        </div>

        <div class="card gris" (click)="mostrarTurismo()">
            <img src="turismo.png">
            <h4>Turismo</h4>
        </div>

        <div class="card celeste" (click)="mostrarCultura()">
            <img src="cultura.png">
            <h4>Cultura</h4>
        </div>

        <div class="card amarillo" (click)="mostrarEducacion()">
            <img src="educacion.png">
            <h4>Educación</h4>
        </div>

      </div>
    </div>
  </section>

  <section class="turismo">
    <div class="contenido-turismo">
      <div class="texto-turismo">
        <h1>
          Descubrí
          <span>San José</span>
        </h1>

        <div class="decoracion-turismo">
          <img src="corazon.png" alt="Corazón">
        </div>

        <p>
          Conocé los lugares, paisajes y experiencias que hacen única nuestra ciudad.
        </p>

        <div class="iconos-turismo">
          <div class="item">
            <img src="naturaleza.png" alt="Naturaleza">
            <p>Naturaleza</p>
          </div>

          <div class="item">
            <img src="historia.png" alt="Historia">
            <p>Historia</p>
          </div>

          <div class="item">
            <img src="gastronomia.png" alt="Gastronomía">
            <p>Gastronomía</p>
          </div>

          <div class="item">
            <img src="airelibre.png" alt="Aire libre">
            <p>Aire libre</p>
          </div>
        </div>
      </div>

      <div class="cards-turismo">
        <div class="card-turismo">
          <img src="granja.png" alt="Granja">
          <div class="info">
            <h3>Granja “La Administración”</h3>
            <p>Naturaleza, animales y paseos para disfrutar en familia o con amigos.</p>
          </div>
        </div>

        <div class="card-turismo">
          <img src="kayak.png" alt="Tru Kayak">
          <div class="info">
            <h3>Tru Kayak</h3>
            <p>Aventuras en kayak y atardeceres únicos sobre el río.</p>
          </div>
        </div>

        <div class="card-turismo">
          <img src="molino.png" alt="Molino Aventuras">
          <div class="info">
            <h3>Molino Aventuras</h3>
            <p>Circuitos al aire libre, naturaleza y experiencias llenas de adrenalina.</p>
          </div>
        </div>

        <div class="card-turismo">
          <img src="termas.png" alt="Termas">
          <div class="info">
            <h3>Termas San José</h3>
            <p>Relax, piscinas termales y diversión.</p>
          </div>
        </div>

        <div class="card-turismo">
          <img src="balneario.png" alt="Balneario">
          <div class="info">
            <h3>Balneario San José</h3>
            <p>Playa, río y atardeceres inolvidables.</p>
          </div>
        </div>

        <div class="card-turismo">
          <img src="molinoforclaz.png" alt="Molino Forclaz">
          <div class="info">
            <h3>Molino Forclaz</h3>
            <p>Historia, cultura y uno de los íconos más tradicionales de la región.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="frase-final">
      <div class="decoracion-frase">
        <img src="ubicacion.png" alt="Ubicación">
      </div>

      <p>
        Cada rincón tiene una historia para contar.
        ¡Animate a <span>descubrirla</span>!
      </p>
    </div>
    
  </section>

  <section id="agenda-secundaria" class="seccion-bloque-agenda">
    <app-agenda></app-agenda>
  </section>

  <section class="contacto">
    <div class="contenido-contacto">
      <div class="titulo-contacto">
        <h1>Contactá con nosotros</h1>
      </div>

      <div class="info-contacto">
        <div class="columna">
          <h3>OFICINA PRINCIPAL</h3>
          <p>Centenario 1098,<br>San José, Entre Ríos<br>3447-470178</p>
        </div>

        <div class="columna">
          <h3>REDES SOCIALES</h3>
          <p>Facebook: https://www.facebook.com/municipalidaddesanjose</p>
          <p>Instagram: https://www.instagram.com/munisanjoseer</p>
        </div>

        <div class="email">
          <p><a href="mailto:contacto@sanjose.gob.ar" class="contacto-link">contacto@sanjose.gob.ar</a></p>
        </div>
      </div>
    </div>
  </section>

</div>

<div class="overlay-ayuda" [class.active]="mostrarModalAyuda" (click)="cerrarAyuda()">
  <div class="bottom-sheet" (click)="$event.stopPropagation()">
    <div class="barra"></div>

    <h2>No estás solo 💗</h2>
    <p>Llamanos gratis, estamos para escucharte.</p>

    <div class="emergencia azul">
    <span class="img-emergencia-modal">🧠</span>  
      <div>
        <small>URGENCIAS 24HS</small>
        <h3>Salud Mental ER</h3>
        <strong>0800-777-2100</strong>
      </div>
    </div>

    <div class="emergencia rojo">
      <span class="img-emergencia-modal">👨‍👩‍👧</span>
      <div>
        <small>GUARDIA 24HS</small>
        <h3>Niñez y Familia</h3>
        <strong>3447-146499</strong>
      </div>
    </div>

    <div class="emergencia violeta">
     <span class="img-emergencia-modal">♀️</span>
      <div>
        <small>GÉNERO / DIVERSIDAD</small>
        <h3>Mujeres San José</h3>
        <strong>3447-438343</strong>
      </div>
    </div>

    <button class="cerrar-modal" (click)="cerrarAyuda()">CERRAR</button>
  </div>
</div>
